# MacOS
.DS_Store

# Docusaurus
node_modules
.docusaurus
build

# Fetched Pages
docs/wrapperlib/*
!docs/wrapperlib/index.md
!docs/wrapperlib/assets
docs/mods/*
!docs/mods/index.md
static/applesilicon.gradle
static/multihitboxlib.js
static/publish.gradle
static/cfstats.js
