.channel {
    display: inline-block;
    color: black !important;
    text-decoration: none;
    width: 100px;
    margin-bottom: 30x;
    padding: 5px;
    text-align: center;
}

.channel:hover {
    text-decoration: none !important;
    /*
    background-color: rgb(41, 41, 41);
    color: white;
    border-radius: 10px;
    */
}

.channel img {
    box-sizing: content-box !important;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 50%;
}

.channel .title {
    display: block;
    font-size: 0.9rem;
    font-family: monospace;
}

.channel .subs, .channel .views {
    display: block;
    font-size: 0.5rem;
    font-family: monospace;
}