body {
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(229, 226, 226);
}

.full-nav {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    max-height: 500px;
}

.head-link{
  font-size: 1.5rem;
  padding: 0 15px;
}

#nav {
  text-align: left;
  padding: 25px;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.post {
    border-radius: 10px;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.post:hover {
    background-color: rgb(205, 217, 255);
  }


  #nav::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  #nav::-webkit-scrollbar-track {
    background: rgb(200, 200, 200);        /* color of the tracking area */
  }
  #nav::-webkit-scrollbar-thumb {
    background-color: rgb(165, 165, 165);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(200, 200, 200);
  }



  /* PRETTY DARK MODE TOGGLE */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #004279;
}

input:focus + .slider {
  box-shadow: 0 0 1px #004279;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 400px) {
  .hide400 {
    display: none;
  }
}