a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
    text-align: center;
    background-color: rgb(229, 226, 226);
}

#content, .content {
  background-color: white;

    text-align: left;
    font-size: 12pt;

    /*
    border: 1px solid black;
    border-radius: 5px;
    padding: 45px;
    box-sizing: border-box;
    */
}

#raw-text {
    color: blue;
}

.app {
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    padding: 3px;
    
    display: inline-block;
    border: 4px solid rgba(0, 0, 0, 0);
}

.app:hover {
  border: 4px solid rgb(255, 0, 0);
}

.img-link {
  text-decoration: none;
}

.img-link:hover {
  text-decoration: none;
}

#tutorial-select {
    max-width: 500px;
    width: 85%;
}

@media print {
    #content {
        font-size: 10pt;
        color: black;
        background-color: white;
    }
    .hide-for-print {
        display: none !important;
    }
}


/*deprecated but works in  Chrome/Edge/Safari*/
body::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgb(200, 200, 200);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(165, 165, 165);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(200, 200, 200);
}

#content pre::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
}
#content pre::-webkit-scrollbar-track {
  background: rgb(200, 200, 200);        /* color of the tracking area */
}
#content pre::-webkit-scrollbar-thumb {
  background-color: rgb(165, 165, 165);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(200, 200, 200);
}

#index::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
}
#index::-webkit-scrollbar-track {
  background: rgb(200, 200, 200);        /* color of the tracking area */
}
#index::-webkit-scrollbar-thumb {
  background-color: rgb(165, 165, 165);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(200, 200, 200);
}

  /* FROM BOOTSTRAP */

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:disabled {
  opacity: 50%;
  cursor: default;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;
}

.form-control {
  display: inline-block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



/* PRETTY DARK MODE TOGGLE */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #004279;
}

input:focus + .slider {
  box-shadow: 0 0 1px #004279;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* new appearence */

.post {
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  text-decoration: none;
}

.centered {
  width: 100%; max-width: 800px; display: inline-block;
}

.post:hover {
  background-color: rgb(205, 217, 255);
}

#side-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 225px;
  min-height: 100%;
  z-index: 200;

  background-color: rgb(229, 226, 226);
  text-align: left;
  padding: 5px;
  font-size: 20px;

  overflow-y: scroll;
}

#container {
  height: 100%;
  margin-left: 250px;
}

body {
  background-color: white;
}

#phone-header {
  display: none;
  float: right;
  text-align: right;
}

@media only screen and (max-width: 600px) {
  #side-nav {
      display: none;
  }

  #container {
      margin-left: 0px;
      margin: 1rem;
  }

  #phone-header {
      display: inline-block;
  }
}

.line {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}


#dropdown {
  background-color: #eeee00;
}

.mod {
  background-color: rgb(247, 247, 247);
  color: black;
}

.mod:hover {
  box-shadow: inset 0 0 0 1000px rgb(221, 221, 221);
}



/* videos */
.video {
  display: inline-block;
  color: black;
  text-decoration: none;
  width: 180px;
  margin-bottom: 30x;
  padding: 10px;
  font-size: 1.25rem;
  text-align: left;
}

.video:hover {
  text-decoration: none;
}

.video img {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.video .title {
  display: block;
  font-size: 0.75rem;
  font-family: monospace;
}

.embedstream {
  position: relative;
}

.alert {
  font-weight: bolder;
  border-radius: 5px;
  text-align: center;
  border: 4px solid;
  display: inline-block;
}

.sm {
  font-size: 1.25rem;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.full {
  font-size: 2rem;
  width: 100%;
  max-width: 800px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.green {
  color: #0f5132 !important;
  background-color: #d1e7dd !important;
  border-color: rgb(118, 190, 118);
}

.blue {
  color: #060e30 !important;
  background-color: #5865F2;
  border-color: #7289DA;
}

.black {
  color: white !important;
  background-color: black;
  border-color: #3d3d3d;
}

.alert:hover {
  border: 4px solid rgb(255, 81, 0);
  background-color: white;
  color: black !important;
  text-decoration: underline;
}