<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    $META
    <meta name="keywords" content="Minecraft, Modding, Tutorial, Forge">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Modding Tutorials">

    <link rel="shortcut icon" href="/img/logo.png">
    <link rel="stylesheet" href="styles/tutorial.css">
    <link rel="stylesheet" href="/styles/md.css">
    <link rel="stylesheet" href="/styles/code.css">
    <link rel="stylesheet" id="theme" href="/styles/dark.css">
    
    <style>
        .err {
            border: none;
        }
    </style>

    <script defer data-domain="moddingtutorials.org" src="https://plausible.moddingtutorials.org/js/plausible.js"></script>
</head>
<body>
    <div id="side-nav">
        <div>
            <div style="text-align: center;">
                <label class="switch">
                    <input type="checkbox" id="dark" onclick="updateDarkmode()" checked>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
       
        <div id="nav">
            <div class="embedstream"></div>

            <div style="text-align: center; margin-top: 10px;">
                <a class="alert sm" href="/" target="_blank">
                    Modding Tutorials
                </a>
            </div>
            <!--
            <div style="text-align: center; margin-top: 10px; margin-bottom: 15px;">
                <a class="alert green sm" href="/commissions" target="_blank">
                    Minecraft Mod Commissions open! 
                </a>
            </div>
            <div style="text-align: center; margin-top: 10px; margin-bottom: 15px;">
                <a class="alert green sm" href="/launcher-commissions" target="_blank">
                    Custom Launcher Commissions! 
                </a>
            </div>
            -->
            <div style="text-align: center; margin-top: 10px; margin-bottom: 15px;">
                <a class="alert blue sm" href="/discord" target="_blank">
                    Modding Discord Community
                </a>
            </div>
            <div style="text-align: center; margin-top: 10px; margin-bottom: 15px;">
                <a class="alert sm" href="/mods" target="_blank">
                    Mod Documentation
                </a>
            </div>

            <div style="text-align: center;">
                <a href="how-to-monetize-a-minecraft-server" class="post">Server Monetization</a>
                <a href="custom-launcher-pros-and-cons" class="post">Custom Launcher Pros & Cons</a>
                <a href="how-to-make-money-making-minecraft-mods" class="post">Mod Dev Make Money</a>
                <a href="share-alike-licenses" class="post">ShareAlike Licenses</a>

                <br>
                <a href="/discord" target="_blank">Contact</a>
            </div>
        </div>
    </div>

    <div id="container">
        <div id="phone-header" class="hide-for-print centered">
            <div onclick="toggle()" style="float: right; cursor: pointer;">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <br>
        </div>

        <div id="content" class="markdown-body centered">
            $CONTENT
        </div>
    </div>

    <script src="/js/dark.js"></script>

    <script>
        // mobile nav expand button
        let showing = false;
        function toggle(){
            showing = !showing;

            if (showing){
                document.getElementById("side-nav").style.display = "block";
            } else {
                document.getElementById("side-nav").style.display = "none";
            }
        }
    </script>
</body>
</html>